@{
    ViewData["Title"] = "Home Page";
}
    <style>


        #div1 {
            animation-timing-function: linear;
            animation: mymove 5s infinite;
        }

    </style>
<div class="text-center container row">
    <div id="div1" class="row" style="line-height:3;">
        <h1 >Судноплавство </h1>
    </div>
    <div class="row">
        <div class="col-sm-12 ">
            <img width="100%" alt="Responsive image" src="HomePage.jpg"  />
        </div>
    </div>
</div>
